h1 {
    font-family: "Lexend", sans-serif;
    text-align: center;
}

section {
    max-width: 85%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}

.secao {
    display: flex;
    background-color: rgb(179, 8, 8);

}

.texto {
    flex: 1;
    padding-right: 20px;
    padding-left: 2em;
    text-align: center;
}

.img200 {
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
    /* Sombra à direita */
}

body {
    margin: 0;
    padding: 10px;
    background-color: rgba(128, 196, 252, 0);
    font-size: 17px;
    line-height: 1.5;
}

header {
    margin: 0;
    padding: 20px;
}